@using System.Web.Optimization
@model Class15_Todo.Models.Todo










@{
    ViewBag.Title = "Create";
}







<h2>Create</h2>

<form action="/" method="post"></form>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
    
    <fieldset>
        <legend>Todo</legend>

   
        <div class="editor-label">
            @Html.LabelFor(model => model.TaskName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaskName)
            @Html.ValidationMessageFor(model => model.TaskName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Completed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Completed)
            @Html.ValidationMessageFor(model => model.Completed)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
